.codio
.project
.settings
.buildpath
composer.phar
composer.lock
data/cache
data/data
data/DoctrineORMModule
data/search
public/files/*
!public/files/users
public/files/users/*
!public/files/users/default
public/images
module/Godana/test/data/
data/mail/
ZendSkeletonApplication/
